# Raster formats
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.heic
*.heif
*.avif
*.ico
*.cur
*.psd
*.psb
*.xcf
*.raw
*.arw
*.cr2
*.cr3
*.nef
*.orf
*.rw2
*.dng
*.ppm
*.pgm
*.pbm
*.pnm
*.exr
*.hdr
*.rgbe
*.jfif
*.jpe
*.jxl
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm

# Vector formats
*.svg
*.svgz
*.ai
*.eps
*.pdf
*.emf
*.wmf
*.cdr
*.afdesign
*.afphoto

# 3D / texture formats
*.tga
*.dds
*.ktx
*.ktx2
*.pvr
*.pkm
*.astc
*.basis
*.wbmp
*.xbm
*.xpm
*.pcx
*.sgi
*.rgb
*.rgba
*.int
*.inta
